.TableHeading{
    font-family: Karla;
    font-size: 13px;
    font-weight: bold;
}
.TableContent{
    font-family: Karla;
    font-size: 13px;
}
.Caption{
    font-family: Karla;
    font-size: 11px;
}