body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'CooperMdBT';
  font-style: normal;
  font-weight: normal;
  src: local('CooperMdBT'), url('./assets/Fonts/cooperMedium.ttf') format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: normal;
  src: local('Karla'), url('./assets/Fonts/Karla-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'Cooper';
  font-style: normal;
  font-weight: normal;
  src: local('Cooper'), url('./assets/Fonts/cooperMedium.ttf') format('woff');
}
